// // Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

.btn-primary {
    color: #000;
    font-weight: 300;
}

.card-title {
    color: #FFF
}

.card-bg {
    background-image: url("/public/images/ikan-air-tawar.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.card-body {
    height: 390px;
    // flex-shrink: 0;
}

.btn-style {
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.6);
    border: 0;
    bottom: 10px;
    padding: 5px 35px;
}

.nav-link {
    color: #000;
}
