// // Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

.btn-primary {
    color: #000;
    font-weight: 300;
}

.card-title {
    color: #FFF
}

.card-bg {
    background-image: url("/public/images/ikan-air-tawar.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}
.card-bg-1 {
    background-image: url("/public/images/ikan-air-tawar.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}
.card-bg-2 {
    background-image: url("/public/images/ikanlaut.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}
.card-bg-3 {
    background-image: url("/public/images/tanaman-air-1.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.btn-style {
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.6);
    border: 0;
    bottom: 10px;
    padding: 5px 35px;
}

.nav-link {
    color: #000;
}

.card-login {
    margin: auto;

}

.position-login {
    margin-top: 10%;
}

.form-label {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}
